<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link href="../fontawesome-free-5.15.1-web/fontawesome-free-5.15.1-web/css/all.css" rel="stylesheet"> 
    <link rel="stylesheet" href="nav.css">
</head>
<body>
    <div class="nav">
        <div class="workspace__first">
            <a href="#">
                <!-- <span class="far fa-user"></span> -->
                <i class="fas fa-globe fa-2X"></i>
                <p>Workspace</p>
            </a>
        </div>
        
        <div class="workspace">
            <a href="#">
                <!-- <span class="far fa-user"></span> -->
                <i class="far fa-user fa-2X"></i>
                <p>Profile</p></a>
        </div>
        <div class="workspace">
            <a href="#">
                <!-- <span class="far fa-user"></span> -->
                <i class="far fa-clipboard fa-2X"></i>
                
                <p>Subscription</p></a>
        </div>
        <div class="workspace">
            <a href="#">
                <!-- <span class="far fa-user"></span> -->
                <i class="fas fa-tags fa-2X"></i>
                <p>Tags</p></a>
        </div>
        <div class="workspace">
            <a href="#">
                <!-- <span class="far fa-user"></span> -->
                <i class="far fa-bell fa-2X"></i>
                <p>Notifications</p></a>
        </div>
        <div class="workspace">
            <a href="#">
                <!-- <span class="far fa-user"></span> -->
                <i class="fas fa-layer-group fa-2X"></i>
                <p>Integration</p></a>
        </div>
       


    </div>
</body>
</html>