<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="notification.css">
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
    
    <!-- <link href="../fontawesome-free-5.15.1-web/fontawesome-free-5.15.1-web/css/all.css" rel="stylesheet">  -->
    
</head>
<body>
    <div class="main__container">
        <div class="container__left__tabs">
            <ul>
              <li>
                <img
                  src="https://d1vbcromo72rmd.cloudfront.net/assets/account_thumbs/account_medium_retina-10dfbcc6733ccba1d485971f63c5eb7f9b7ed1a942a0ebd140e292bcb1e4dbea.png"
                  alt=""
                />
              </li>
              <hr />
              <li>
                <a href="hours.html"><i class="fa fa-clock-o"></i></a>
                <p>HOURS</p>
              </li>
              <li>
                <a href=""><i class="fa fa-briefcase"></i></a>
                <p>PROJECTS</p>
              </li>
              <li>
                <a href=""><i class="fa fa-user"></i></a>
                <p>PEOPLE</p>
              </li>
              <li>
                <a href=""><i class="fa fa-bar-chart"></i></a>
                <p>REPORTS</p>
              </li>
              <li>
                <a href=""><i class="fa fa-file-text"></i></a>
    
                <p>PLANING</p>
              </li>
            </ul>
            <ul>
              <li>
                <a href="workspace.html"><i class="fa fa-cog "></i></a>
                <!-- <p>PEOPLE</p> -->
              </li>
            
              <li>
                <a href="../index.html"> <i class="fa fa-user-circle fa-3X"></i></a>

                
              </li>
            </ul>
          </div>
    <div class="right__content">
        <nav>
            <div class="nav">
                <div class="workspace__first">
                    <a href="./workspace.html">
                        <!-- <span class="far fa-user"></span> -->
                        <i class="fa fa-globe fa-2X"></i>
                        <p>Workspace</p>
                    </a>
                </div>
                
                <div class="workspace">
                    <a href="./profile.html">
                        <!-- <span class="far fa-user"></span> -->
                        <i class="fa fa-user fa-2X"></i>
                        <p>Profile</p></a>
                </div>
                <div class="workspace">
                    <a href="./subscription.html">
                        <!-- <span class="far fa-user"></span> -->
                        <i class="fa fa-clipboard fa-2X"></i>
                        
                        <p>Subscription</p></a>
                </div>
                <div class="workspace">
                    <a href="./tags.html">
                        <!-- <span class="far fa-user"></span> -->
                        <i class="fa fa-tags fa-2X"></i>
                        <p>Tags</p></a>
                </div>
                <div class="workspace">
                    <a href="./notification.html">
                        <!-- <span class="far fa-user"></span> -->
                        <i class="fa fa-bell fa-2X"></i>
                        <p>Notifications</p></a>
                </div>
              
               
        
        
            </div>
        </nav>
        
            <div class="nots">
            <div class="nots__first">
                <h3>Notification Settings</h3>
                <p>Choose where and which notifications you want.</p>
            </div>
            <div class="nots_outer">
            <div class="nots__second">
                <div class="first">
                    <div class="left">
                        <p class="time">If I haven't logged hours today, remind me at<input  placeholder="17:00">on the following days:</br></p>
                        <p>
                        <input type="checkbox" checked="checked"><label class="check">Monday</label>
                        <input type="checkbox" checked="checked"><label class="check">Tuesday</label>
                        <input type="checkbox"><label class="check">Wednesday</label>
                        <input type="checkbox" checked="checked"><label class="check">Thursday</label>
                        <input type="checkbox"><label class="check">Friday</label>
                        <input type="checkbox"><label class="check">Saturday</label>
                        <input type="checkbox"><label class="check">Sunday</label>
                    </p>
                    </div>
                    <div class="right">
                        <input type="checkbox" checked="checked"><label class="check">Email</label>
                        <input type="checkbox" checked="checked"><label class="check">Mobile</label>
    
                    </div>
                </div>
    
                <div class="second">
                    <div class="left">
                        <p>When I receive a new draft</p>
                    </div>
                    <div class="right">
                    
                        <input type="checkbox" ><label class="check">Mobile</label>
    
                    </div>
                </div>
    
                <div class="third">
                    <div class="left">
                        <p>When a budget reaches a certain milestone (50%, 80%, 100%)</p>
                    </div>
                    <div class="right">
                    
                        <input type="checkbox" checked="checked"><label class="check">Email</label>
                        <input type="checkbox" checked="checked"><label class="check">Mobile</label>
    
                    </div>
                </div>
    
                <div class="third">
                    <div class="left">
                        <p>When someone invites me to a project</p>
                    </div>
                    <div class="right">
                    
                        <input type="checkbox" checked="checked"><label class="check">Email</label>
                        <input type="checkbox" checked="checked"><label class="check">Mobile</label>
    
                    </div>
                </div>
    
                <div class="third">
                    <div class="left">
                        <p>When a project I am part of is archived</p>
                    </div>
                    <div class="right">
                    
                        <input type="checkbox" checked="checked"><label class="check">Email</label>
                        <input type="checkbox" checked="checked"><label class="check">Mobile</label>
    
                    </div>
                </div>
    
                <div class="third">
                    <div class="left">
                        <p>When a client I am part of is archived</p>
                    </div>
                    <div class="right">
                    
                        <input type="checkbox" checked="checked"><label class="check">Email</label>
                        <input type="checkbox" checked="checked"><label class="check">Mobile</label>
    
                    </div>
                </div>
                
                <div class="third">
                    <div class="left">
                        <p>When a timer has been running for 1 hour</p>
                    </div>
                    <div class="right">
                    
                        
                        <input type="checkbox" checked="checked"><label class="check">Mobile</label>
    
                    </div>
                </div>
                
                <div class="third">
                    <div class="left">
                        <p>Weekly stats for my account</p>
                    </div>
                    <div class="right">
                    
                        <input type="checkbox" checked="checked"><label class="check">Email</label>
                        
    
                    </div>
                </div>
    
    
    
    
                </div>
    
            </div>
    
        </div>

    </div>
    
</div> 
</body>
</html>