<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="logo.css"> -->
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="subscription.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
    <!-- <link href="../fontawesome-free-5.15.1-web/fontawesome-free-5.15.1-web/css/all.css" rel="stylesheet">  -->
</head>
<body>
    <div class="main__container">
        <div class="container__left__tabs">
            <ul>
              <li>
                <img
                  src="https://d1vbcromo72rmd.cloudfront.net/assets/account_thumbs/account_medium_retina-10dfbcc6733ccba1d485971f63c5eb7f9b7ed1a942a0ebd140e292bcb1e4dbea.png"
                  alt=""
                />
              </li>
              <hr />
              <li>
                <a href="../dashboard/hours.html"><i class="fa fa-clock-o"></i></a>
                <p>HOURS</p>
              </li>
              <li>
                <a href=""><i class="fa fa-briefcase"></i></a>
                <p>PROJECTS</p>
              </li>
              <li>
                <a href=""><i class="fa fa-user"></i></a>
                <p>PEOPLE</p>
              </li>
              <li>
                <a href=""><i class="fa fa-bar-chart"></i></a>
                <p>REPORTS</p>
              </li>
              <li>
                <a href=""><i class="fa fa-file-text"></i></a>
    
                <p>PLANING</p>
              </li>
            </ul>
            <ul>
                <li>
                  <a href="workspace.html"><i class="fa fa-cog "></i></a>
                  <!-- <p>PEOPLE</p> -->
                </li>
              
                <li>
                    <a href="../index.html"> <i class="fa fa-user-circle fa-3X"></i></a>

                  
                </li>
              </ul>
          </div>
        <div class="right__content">
            <nav>
                <div class="nav">
                    <div class="workspace__first">
                        <a href="./workspace.html">
                            <!-- <span class="far fa-user"></span> -->
                            <i class="fa fa-globe fa-2X"></i>
                            <p>Workspace</p>
                        </a>
                    </div>
                    
                    <div class="workspace">
                        <a href="./profile.html">
                            <!-- <span class="far fa-user"></span> -->
                            <i class="fa fa-user fa-2X"></i>
                            <p>Profile</p></a>
                    </div>
                    <div class="workspace">
                        <a href="./subscription.html">
                            <!-- <span class="far fa-user"></span> -->
                            <i class="fa fa-clipboard fa-2X"></i>
                            
                            <p>Subscription</p></a>
                    </div>
                    <div class="workspace">
                        <a href="./tags.html">
                            <!-- <span class="far fa-user"></span> -->
                            <i class="fa fa-tags fa-2X"></i>
                            <p>Tags</p></a>
                    </div>
                    <div class="workspace">
                        <a href="./notification.html">
                            <!-- <span class="far fa-user"></span> -->
                            <i class="fa fa-bell fa-2X"></i>
                            <p>Notifications</p></a>
                    </div>
                 
            
            
                </div>
            </nav>
    <div class="subs">
        <div class="subs__first">
            <h1>Subscriptions</h1>
            <p class="trial">Your trial will expire in 14 days</p>
        </div>
        <div class="subs__line"></div>
        <div class="subs__outer">
            <div class="subs__outer__first">
                <h1>Start a new Timely subscription</h1>
                <p>Choose the right plan for your set-up</p>
                <div class="subs__outer__first__toggle">
                    <p>Pay monthly</p>
                    <div class="input">
                        <div></div>
                    </div>
                    <p>Pay yearly</p>
                    <p class="subs__outer__first__toggle__discount">
                        Save up to 10%
                    </p>

                </div>
            </div>
            <div class="subs__outer__second">
                <div class="subs__outer__second__starter_1">
                    <div class="subs__outer__second__starter__first">
                        <p class="p_starter">Starter</p>
                        <p>no-frill automatic time tracking</p>
                        <p class="p_dollar">$10</p>
                        <p>per month for 1 seat</p>
                    </div>
                    <div class="subs__outer__second__starter__button">
                            <button>Choose plan</button>
                    </div>
                        <ul class="data">
                                
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Unlimited seats</div>   
                                </li>
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">50 live projects</div>   
                                </li>
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">3 teams</div>   
                                </li>
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Automatic time tracking</div>   
                                </li>
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Memory integrations</div>   
                                </li>
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Automatic time sheets</div>   
                                </li>
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Log hours for others </div>   
                                </li>
                        
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Hourly rates</div>   
                                </li>
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Tag lists</div>   
                                </li>
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Report templates</div>   
                                </li>
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Native integrations</div>   
                                </li>

                        </ul>
                </div>
                <div class="subs__outer__second__starter_second">
                    <div class="subs__outer__second__starter__first">
                        <p class="p_starter">Premium</p>
                        <p>manage projects and profitability</p>
                        <p class="p_dollar">$18</p>
                        <p>per month for 1 seat</p>
                    </div>
                    <div class="subs__outer__second__starter__button">
                            <button>Choose plan</button>
                    </div>
                        <ul class="data">
                                
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Unlimited projects </div>   
                                </li>
                        
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Unlimited teams</div>   
                                </li>
                                
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Weekly capacity</div>   
                                </li>
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Locked hours</div>   
                                </li>
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Automatic notifications</div>   
                                </li>

                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Required tags and notes</div>   
                                </li>
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Premium integrations</div>   
                                </li>
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Automatic notifications</div>   
                                </li>

                        </ul>
                </div>
                <div class="subs__outer__second__starter_third">
                    <div class="subs__outer__second__starter__first">
                        <p class="p_starter">Unlimited</p>
                        <p>coordinate people, capacity and</br> plans</p>
                        <p class="p_dollar">$26</p>
                        <p>per month for 1 seat</p>
                    </div>
                    <div class="subs__outer__second__starter__button">
                            <button>Choose plan</button>
                    </div>
                        <ul class="data">
                                
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Team management</div>   
                                </li>
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Notify in bulk</div>   
                                </li>
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Branded reports</div>   
                                </li>
                                <li>
                                    <div>
                                    <svg width="1em" height="1em" viewBox="0 0 25 25" >
                                    <polygon fill="currentColor" points="0 16.1825 3.63125638 12.625 8.48569969 17.38 20.7686415 0 25 2.87 9.01430031 25"></polygon>
                                    </svg>
                                    </div>
                                    <div class="li_name">Priority support</div>   
                                </li>
                               

                        </ul>
                </div>
    
            </div>
            <div class="subs__third">
                <div>
                    <h5>Custom pricing</h5>
                    <p>For large, complex organizations</p>
                </div>
                <div class="button">
                    <button>Talk to Sales</button>
                </div>

            </div>

        </div>
        

    </div>

    </div>
    </div>
</body>
</html>