* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-color: #f7f9fa;
    /* font-size: 14px; */
    /* line-height: 1.428571429; */
    color: #333;
   
}
.main__container {
    display: flex;
}
.container__left__tabs {
    width: 100px;
    max-width: 80px;
    color: rgba(255, 255, 255, 0.3);
    background-color: #53626e;
    height: 850px;
    position: fixed;
  }
  .container__left__tabs ul {
    width: 90%;
    padding: 2px 4px;
    margin: auto;
  }
  .container__left__tabs img {
    width: 40px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: -10px;
  }
  .container__left__tabs hr {
    width: 40%;
    margin: auto;
    background-color: white;
  }
  .container__left__tabs ul > li {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 25px;
    transition: 0.2s all ease-in-out;
  }
  .container__left__tabs a {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
  }
  .container__left__tabs .fa-user {
    color: white;
  }
  .container__left__tabs a:hover {
    color: white;
  }
  .container__left__tabs .fa {
    font-size: 35px;
    margin-bottom: 5px;
  }
  .container__left__tabs ul:nth-child(2) {
    margin-top: 7rem;
  }
  .container__left__tabs ul:nth-child(2) > li > .fa {
    font-size: 25px;
  }
  .container__left__tabs li:hover {
    color: rgba(255, 255, 255, 1);
  }
/* Left side ending */
.right{
    padding-top: 20px;
    /* padding-right:100px ; */
}
 /* .right__content  */

.subs {
    /* border: 1px solid red; */
    height: 1200px;
    /* margin: 10px 80px; */
    padding-top: 10px;
    margin-left: 80px;
    max-width: 1500px;
    color: #596063;
    background-color: #f7f9fa;
    /* padding-right: 100px;
     */
    /* padding: 10px; */
}
.subs__first {
    /* border: 1px solid red; */
    display: flex;
    height: 50px;
    /* max-width: 1500px; */
    
    padding: 5px;

    
}
.subs__first h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
}
.subs__first p {
    font-size: 13px;
    padding-top: 13px;
    font-weight: 400;
    line-height: 13px;
    margin-left: 1050px;
}

.subs__line {
    /* height: 1px; */
    width: 1415px;
    border: 1px solid #596063;
    opacity: 10%;
}
.subs__outer__first {
    /* border: 1px solid red; */
    padding-top: 10px;
    text-align: center;
    
    
}
.subs__outer__first div {
    /* margin: 10px; */
    margin-top: 10px;
}
.subs__outer__first__toggle {
    display: flex;
    /* border: 1px solid black; */
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    width: 800px;
    margin-left: 600px;
    /* padding-top: 10px; */
    margin-top: 10px;

    height: 30px;
    
}
.subs__outer__first__toggle  p {
    padding-top: 10px;
}
.input {
    width: 70px;
    background-color: #596063;
    height: 25px;
    margin-top: 10px;
    border-radius: 25px;
    margin-right:10px ;
    margin-left: 5px;
    font-weight: 700;
    /* border: 1px solid blue; */
}
.input div {
    width: 30px;
    background-color: white;
    border-radius: 25px;
    height: 23px;
    margin: 1px;
}
.subs__outer__first__toggle__discount {
    color: #6bde9f;
    margin-left: 20px;
}
.subs__outer__second {
    display: flex;
    /* border: 1px solid red; */
    margin-top: 50px;
    height: 800px;
    
}
.subs__outer__second__starter {
    border: 1px solid black;
    width: 300px;
    margin-left: 30px;
    
    
}
.subs__outer__second__starter_1 {
    margin-left: 250px;
    /* border: 1px solid black; */
    width: 300px;
    height: 700px;
    background-color: white;
}
.subs__outer__second__starter__first {
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 4px 4px 0 0;
    background-color: #8899CB;
    background-size: cover;
    background-position: center center;
    padding: 20px;
    /* min-height: 183px; */
    text-align: center;
    height: 130px;
    
    
}
.subs__outer__second__starter__button li ,.data li{
    display: flex;
    margin: 15px;
    
}
.subs__outer__second__starter__button button{
    width: 200px;
    height: 40px;
    background-color: transparent;
    border: 0.5px solid grey;
    border-radius: 0.3ch;
    margin-top: 20px;
    margin-left: 50px;
}
.li_name {
    margin-left: 10px;
}
.p_dollar{
    font-size: 25px;
    padding: 3px;
}
.p_starter {
    font-size: 20px;
    /* margin-bottom: 5px; */
}
.subs__outer__second__starter_second {
    /* border: 1px solid black; */
    width: 300px;
    margin-left: 30px;
    height: 630px;
    background-color: white;
}
.subs__outer__second__starter_third{
    /* border: 1px solid black; */
    width: 300px;
    margin-left: 30px;
    height: 500px;
    background-color: white;
}
.subs__outer__second__starter_third:hover,
.subs__outer__second__starter_second:hover,
.subs__outer__second__starter_1:hover
{
    border: 4px solid #6bde9f;
    
}
.subs__outer__second__starter__button button:hover{
    background-color:#6bde9f ;
    border: none;
}

.subs__third {
    /* border: 1px solid red; */
    display: flex;
    height: 100px;
    width: 950px;
    margin-left: 250px;
    font-size: 15px;
    padding: 10px;
    background-color: white;
}
.subs__third button{
    width: 100px;
    height: 40px;
    margin-top: 30px;
    background-color: #59bce5;
    border-color: #59bce5;
    box-shadow: none;
    color: white;
    margin-left: 600px;
    border: none;
}



