
body {
    /* color: #596063; */
    /* background: #f8fafb; */
    font-family: sans-serif;
    transform: scale(0.85);
    transform-origin: 0 0;
}
.main__container {
    display: flex;
}
.main__container {
    display: flex;
}
.container__left__tabs {
    width: 100px;
    max-width: 80px;
    color: rgba(255, 255, 255, 0.3);
    background-color: #53626e;
    height: 850px;
    position: fixed;
  }
  .container__left__tabs ul {
    width: 90%;
    padding: 2px 4px;
    margin: auto;
  }
  .container__left__tabs img {
    width: 40px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: -10px;
  }
  .container__left__tabs hr {
    width: 40%;
    margin: auto;
    background-color: white;
  }
  .container__left__tabs ul > li {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 25px;
    transition: 0.2s all ease-in-out;
  }
  .container__left__tabs a {
    color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
  }
  .container__left__tabs .fa-user {
    color: white;
  }
  .container__left__tabs a:hover {
    color: white;
  }
  .container__left__tabs .fa {
    font-size: 35px;
    margin-bottom: 5px;
  }
  .container__left__tabs ul:nth-child(2) {
    margin-top: 7rem;
  }
  .container__left__tabs ul:nth-child(2) > li > .fa {
    font-size: 25px;
  }
  .container__left__tabs li:hover {
    color: rgba(255, 255, 255, 1);
  }
/* Left side ending */
.right{
    padding-top: 20px;
}

.tags__first {
    /* border: 1px solid red;  */
    margin: 10px 150px;
    /* height: 230px; */
}
.tags__first__para {
    display: flex;
    line-height: 25px;
}
.tags__first__para button {
    height: 30px;
    width: 100px;
    background-color: #38c577;
    color: white;
    border: none;
    border-radius: 2px;
    margin-left: 20px;
    margin-top: 20px;
}
.tags__second {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding-left: 80px; */
    /* width: 1730px; */
    /* height: 1000px; */
    /* border: 1px solid red; */
}
.tags__second__first {
    background-color: #f6f3dd;;
    /* border: 1px solid red; */
    font-family: sans-serif;
    margin-left:250px; 
    margin-right: 150px;
    /* width: 1400px; */
    padding: 10px;
    line-height: 25px;
    font-size: 13px;
    
}
.tags__second__first button {
    width: 250px;
    height: 30px;
    background-color:#f8fafb;
    border:0.3px solid grey ;
    border-radius: 3px;
    /* padding: 10px; */
    color: #596063;
}
.tags__second__second {
    /* border: 1px solid red; */
    width: 1380px;
    display: flex;
    font-size: 24px;
    margin-left: 250px;
    /* margin-right: 150px; */
    height: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
    margin-top: 40px;
}
.tags__second__second button {
    font-size: 15px;
    /* padding: 10px; */
    width: 80px;
    height: 30px;
    margin-left: 5px;
    color: #596063;
    
}
.tags__button {
    margin-left: 1000px;
}
.container {
    /* border: 1px solid red; */
    
    /* border: 1px solid red; */
    font-family: sans-serif;
    margin-left:250px; 
    margin-right: 150px;
    padding: 10px;
    line-height: 25px;
    font-size: 13px;
}

.input_field {
    /* text-align: center; */
    margin-bottom: 30px;
    /* border: 1px solid black; */
    width: 1420px;

}

#addTaskInput,#addTaskInput1 {
    width: 1000px;
    height: 40px;
    margin-left: 10px;
    box-shadow: 1px 1px #888888;
}
.addTaskButton,.delete {
    width: 80px;
    height: 30px;
    margin-left: 17px;

}
.phase {
   /* border-bottom: 1px solid grey; */
   border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
    /* height: 500px; */
}
.box {
    /* border: 1px solid black; */
    border-bottom: 1px solid grey;
    width: 1000px;
    /* margin-bottom: 10px; */
    margin-left: 10px;
    padding: 3px;
    font-size: 20px;
}