<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="tags.css"/>
    <!-- <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet">  -->
    <!-- <link href="../fontawesome-free-5.15.1-web/fontawesome-free-5.15.1-web/css/all.css" rel="stylesheet">  -->
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
    
    <!-- <link href="../fontawesome-free-5.15.1-web/fontawesome-free-5.15.1-web/css/all.css" rel="stylesheet">  -->
   

    <title>Document</title>
</head>
<body>
    <div class="main__container">
        <div class="container__left__tabs">
            <ul>
              <li>
                <img
                  src="https://d1vbcromo72rmd.cloudfront.net/assets/account_thumbs/account_medium_retina-10dfbcc6733ccba1d485971f63c5eb7f9b7ed1a942a0ebd140e292bcb1e4dbea.png"
                  alt=""
                />
              </li>
              <hr />
              <li>
                <a href="./dashboard/hours.html"><i class="fa fa-clock-o"></i></a>
                <p>HOURS</p>
              </li>
              <li>
                <a href=""><i class="fa fa-briefcase"></i></a>
                <p>PROJECTS</p>
              </li>
              <li>
                <a href=""><i class="fa fa-user"></i></a>
                <p>PEOPLE</p>
              </li>
              <li>
                <a href=""><i class="fa fa-bar-chart"></i></a>
                <p>REPORTS</p>
              </li>
              <li>
                <a href=""><i class="fa fa-file-text"></i></a>
    
                <p>PLANING</p>
              </li>
            </ul>
            <ul>
                <li>
                  <a href="workspace.html"><i class="fa fa-cog "></i></a>
                  <!-- <p>PEOPLE</p> -->
                </li>
              
                <li>
                  <!-- <i class="fa fa-user-circle fa-3X"></i> -->
                  <a href="../index.html"> <i class="fa fa-user-circle fa-3X"></i></a>

                  
                </li>
              </ul>
          </div>
        <div class="right__content">
            <nav>
                <div class="nav">
                    <div class="workspace__first">
                        <a href="./workspace.html">
                            <!-- <span class="far fa-user"></span> -->
                            <i class="fa fa-globe fa-2X"></i>
                            <p>Workspace</p>
                        </a>
                    </div>
                    
                    <div class="workspace">
                        <a href="./profile.html">
                            <!-- <span class="far fa-user"></span> -->
                            <i class="fa fa-user fa-2X"></i>
                            <p>Profile</p></a>
                    </div>
                    <div class="workspace">
                        <a href="./subscription.html">
                            <!-- <span class="far fa-user"></span> -->
                            <i class="fa fa-clipboard fa-2X"></i>
                            
                            <p>Subscription</p></a>
                    </div>
                    <div class="workspace">
                        <a href="./tags.html">
                            <!-- <span class="far fa-user"></span> -->
                            <i class="fa fa-tags fa-2X"></i>
                            <p>Tags</p></a>
                    </div>
                    <div class="workspace">
                        <a href="./notification.html">
                            <!-- <span class="far fa-user"></span> -->
                            <i class="fa fa-bell fa-2X"></i>
                            <p>Notifications</p></a>
                    </div>
                 
            
            
                </div>
            </nav>
    <div class="tags">
        <div class="tags__first">
            <h1>Tags</h1>
            <div class="tags__first__para">
                <p>Tags let you standardize time reporting across your workspace. Add tags for every activity you 
                    want to track here, then “allow” the ones you need on individual projects. Create tag lists to
                    define the</br> most appropriate tags for specific project work.</p>
                 <button>Create New</button>   
            </div>

        </div>
        <div class="tags__second">
            <div class="tags__second__first">
                <h3>We’re streamlining Tags!</h3>
                <p>In the coming weeks, we’ll be tweaking Tags to make it easier to manage large numbers of tags and projects. 
                    The first tweak will enable all tags on a tag list whenever the latter is added to a project. It should make 
                    it much easier to add and remove tags across tens (or thousands!) of projects. Archiving tags and more to follow!
    
                </p>
                <button>Ouestions or concerns?Lets talk</button>
            </div>
            <div class="tags__second__second">
                <div>Phase</div>
                <div class="tags__button">
                    <button>Add tag</button>
                    <button>Archive</button>
                    <button>... </button>
                </div>
                
            </div>
            <!-- <i class="fas fa-briefcase"></i> -->
            <div class="container">
                <!-- <h1>Todo Application</h1> -->
                <div class="input_field">
                    <i class="fa fa-briefcase fa-2X"></i>
                    <input type="text" placeholder="Name of the Flag" id="addTaskInput" />
                    <button class="addTaskButton" id="addTaskButton">ADD</button>
                    <button class="addTaskButton" >...</button>
                </div>
                <table class="taskList" id="taskList"></table>
            </div>


            <div class="tags__second__second">
                <div>Task    </div>
                <div class="tags__button">
                    <button>Add tag</button>
                    <button>Archive</button>
                    <button>... </button>
                </div>
                
            </div>
            <!-- <i class="fas fa-briefcase"></i> -->
            <div class="container">
                <!-- <h1>Todo Application</h1> -->
                <div class="input_field">
                    <i class="fa fa-briefcase fa-2X"></i>
                    <input type="text" placeholder="Name of the Flag" id="addTaskInput1" />
                    <button class="addTaskButton" id="addTaskButton1">ADD</button>
                    <button class="addTaskButton" >...</button>
                </div>
                <table class="taskList" id="taskList1"></table>
            </div>
         
            </div>
           

        
        


    </div>
</div>
</div>
    
    <script src="tags.js"></script>
    <!-- <script src="tags1.js"></script> -->

</body>
</html>